*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active-link{
    text-decoration: none;
}

.wrapper{
    display: flex;    
    flex-direction: column;
    /* justify-content: start; */
    width: 950px;
    height: 100vh;
    /* background-color: bisque; */
}

header{
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    /* height: 183px; */
}

.header-background{
    background-image: url(/images/header.png);
    margin-top: -20px;
    height: 130px;    
}

.header-background p {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-style: italic;
    color: white;
    margin: 38px 0 0 128px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: white; */
    height: 183px;
    /* padding: 25px 25px 0 25px; */
    background-image: url(/images/header.png);
    /* z-index: 1000; */
    /* margin-bottom: 0px; */
}

.header img{
    width: 174px;
    height: 44px;
    margin: 25px 500px 0 25px;
    margin-right: 500px;
}

.button-group{
    display: flex;
    /* background-color: teal; */
    margin: 25px 25px 0 0;
    height: 30px;
}
.button-group a{
    /* line-height: 14px; */
    color: #004168;
}

.button-group .link-separator{
    margin: 0 10px 0 10px;
    color: #00A0D6;
}

.header p{
    margin: 10px 0 0px 103px;
    font-size: 30px;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bolder; */
    font-style: italic;
    color: white;
}

.horizontal-menu{
    background-image: url(/images/horizontal-menu.png);
    height: 34px;
}
/* main page | main page | main page | main page | main page | */
.main{
    display: flex;
    height: 100%;
}

.main-content{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-content a{
    color: #004168;
}

.top-menu ul{
    display: flex;
    list-style: none;
    padding: 10px 0 5px 0 ;
}

.top-menu img{
    padding: 0 10px 0 10px;
}

.main-content p{
    color: #005C88;
    font-size: 17px;
    margin: 5px 0 0 0;
}

.content{
    display: flex;
    flex-direction: column;
}

.article p{
    color: black;
    font-size: 12px;
    margin-bottom: 20px;
}

.article h4{
    color: #555296;
    font-size: 18px;
    height: 50px;
    padding: 10px 0 20px 0;
}

.article-start{
    margin: 10px 0 0 0;
}

.article{
    width: 648px;
}

.article img{
    float: left;
    margin: 0 25px 10px 0;
}
/* bottom menu in content block */
.article-end{
    margin-top: auto;
}

.bottom-menu{
    margin: 10px 0 20px 0;
}

.bottom-menu ul{
    display: flex;
    list-style: none;
}

.bottom-menu .link-separator{
    margin: 0 10px 0 10px;
    color: #00A0D6;
}

/* left menu | left menu | left menu | left menu | left menu | */
.left-menu{
    width: 222px;
    background-color: #E8E7F0;
}

.left-menu p{
    font-size: 13px;
    padding: 8px 0 8px 25px;
    background-color: #7472B5;
    color: white;
}

.left-menu a{
    font-size: 12px;
    line-height: 22px;
    margin: -7px 0 0 36px;
    color: #004168;
}

.left-menu li{    
    display: flex;
    background-image: url(/images/BULLET_1.png);
    background-repeat: no-repeat;
    margin: 7px 0 0 7px;
}

.left-menu li:hover{    
    display: flex;
    background-image: url(/images/BULLET_2.png);
    background-repeat: no-repeat;
    margin: 7px 0 0 7px;
}

/* footer | footer | footer | footer | footer | footer | footer |*/
.footer{
    display: flex;
    height: 80px;
    background-color: #7472B4;
    margin-top: auto;
}

.footer .text-block{
    font-size: 11px;
    line-height: 13px;
    height: 40px;
    font-family: Tahoma;
    font-weight: regular;
    margin: 22px 0 18px 25px;
    color: white;
}

.footer .link-separator{
    float: none;
    color: #A3A8D7;
    margin: 0 5px 0 5px;
}

.footer .contacts{
    display: flex;
}

.footer img{
    width: 127px;
    height: 33px;
    margin: 27px 24px 0 auto;
}