@import url('http://fonts.cdnfonts.com/css/myriad-pro');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#929292,#D1D1D1);
}

.active-link{
    text-decoration: none;
}

.wrapper{
    display: flex;    
    flex-direction: column;
    width: 950px;
    height: 100vh;
}

header{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 183px;
    background-image: url(images/header.png);
}

.header img{
    width: 174px;
    height: 44px;
    margin: 25px 500px 0 25px;
    margin-right: 500px;
}

.button-group{
    display: flex;
    margin: 25px 25px 0 0;
    height: 30px;
}

.button-group a{
    color: #004168;
    font-size: 11px;
    font-family: Tahoma;
    font-weight: 300;
}

.button-group .link-separator{
    margin: 0 10px 0 10px;
    color: #00A0D6;
    font-size: 11px;
    font-family: Tahoma;
    font-weight: 300;
}

.header p{
    margin: 10px 0 0px 103px;
    font-size: 30px;
    height: 35px;
    font-family: 'Myriad Pro';
    font-weight: 400;
    font-style: italic;
    color: white;
}

/* horizontal-menu | horizontal-menu | horizontal-menu | horizontal-menu | */
.horizontal-menu{
    margin-top: 1px;
    background-image: url(images/horizontal-menu.png);
    height: 34px;
}

.horizontal-menu ul{
    display: flex;
    list-style: none;
    margin: 0 0 0 222px;
    /* dropdown */
    position: relative;
}

.horizontal-menu li{
    display: flex;
    flex-direction: column;
}

.horizontal-menu a{
    font-size: 14px;
    font-family: 'Myriad Pro';
    font-weight: 600;
    text-decoration: none;
    color: #004168;
    height: 34px;    
    padding: 7px 10px 0 10px;
}

.horizontal-menu a:hover{
    color: #FFFFFF;
    background-image: url(images/menu-button-hover.png);
}

.dropdown{
    display: none;    
    background-color: #88CFE1;
}

.dropdown a{
    font-size: 11px;
    font-family: Tahoma;
    font-weight: 300;
    height: 25px; 
    padding: 5px 0 0 10px;
    margin: 0 0 0 0;
}

.dropdown a:hover{
    background-image: none;
    background-color: #006896;
}

.horizontal-menu li:hover  .dropdown{
    display: flex;
    flex-direction: column;
}

/* main page | main page | main page | main page | main page | */
.main{
    display: flex;
    height: 100%;
    background-color: white;
}

.main-content{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-content a{
    color: #004168;
    font-size: 11px;    
    font-family: Tahoma;
    font-weight: normal;
}

.top-menu ul{
    display: flex;
    list-style: none;
    padding: 10px 0 5px 0 ;
    margin-bottom: 10px;
}

.top-menu img{
    padding: 0 10px 0 10px;
}

.main-content p{
    color: #005C88;
    font-family: 'Myriad Pro';
    font-weight: normal;
    font-size: 24px;
}

.content{
    display: flex;
    flex-direction: column;
}

.article-start{
    margin: 5px 0 15px 0;
}

.article p{
    color: black;
    font-family: Verdana;
    font-weight: normal;
    font-size: 12px;
    margin: 0 0 20px 0;
}

.article h4{
    color: #555296;
    font-family: Tahoma;
    font-weight: normal;
    font-size: 18px;
    height: 50px;
    padding: 10px 0 20px 0;
}

.article{
    width: 648px;
}

.article img{
    float: left;
    margin: 0 25px 10px 0;
}

/* bottom menu in content block */
.article-end{
    margin-top: auto;
}

.bottom-menu{
    margin: 10px 0 20px 0;
}

.bottom-menu ul{
    display: flex;
    list-style: none;
}

.bottom-menu .link-separator{
    margin: 0 10px 0 10px;
    color: #00A0D6;
    font-size: 11px;    
    font-family: Tahoma;
    font-weight: normal;
    padding-top: 4px;
}

/* left menu | left menu | left menu | left menu | left menu | */
.left-menu{
    width: 222px;
    background-color: #E8E7F0;
}

.left-menu p{
    font-size: 16px;
    font-family: 'Myriad Pro';
    font-weight: 600;
    padding: 8px 0 8px 25px;
    background-color: #7472B5;
    color: white;
    margin-bottom: 18px;
}

.left-menu a{
    font-size: 12px;
    font-family: Tahoma;
    font-weight: normal;
    line-height: 22px;
    margin: -7px 0 0 36px;
    color: #004168;
}

.left-menu li{    
    display: flex;
    background-image: url(images/BULLET_1.png);
    background-repeat: no-repeat;
    margin: 7px 0 0 7px;
}

.left-menu li:hover{    
    display: flex;
    background-image: url(images/BULLET_2.png);
    background-repeat: no-repeat;
    margin: 7px 0 0 7px;
}

/* footer | footer | footer | footer | footer | footer | footer |*/
.footer{
    display: flex;
    height: 80px;
    background-color: #7472B4;
    margin-top: auto;
}

.footer .text-block{
    font-size: 11px;    
    height: 40px;
    font-family: Tahoma;
    font-weight: normal;
    margin: 22px 0 18px 25px;
    color: white;
}

.footer .link-separator{
    float: none;
    color: #A3A8D7;
    margin: 0 5px 0 5px;
}

.footer .contacts{
    display: flex;
}

.footer img{
    width: 127px;
    height: 33px;
    margin: 27px 24px 0 auto;
}